.pageHeader {
  width:100%;
  background-image:url('../../public/img/img-header/vikata-app-baner.jpg');
  background-size:cover;
}
@media screen and (min-width:550px) and (max-width:1200px) {
  .pageHeader {
    min-height:220px;
  }
}
@media screen and (min-width:1201px) and (max-width:1600px) {
  .pageHeader {
    min-height:330px;
  }
}