.pageHeader {
  width:100%;
  height:130px;
  background-image:url('../../public/img/img-header/vikata-app-baner.jpg');
  background-size:cover;
}

@media screen and (min-width:801px) and (max-width:1200px) {
  .pageHeader {
    height:130px;
  }
}
@media screen and (min-width:1201px) {
  .pageHeader {
    height:130px;
  }
}