
@media screen and (min-width:501px) and (max-width:768px) {
  .loginform {
    width: 300px;
    margin-top: -350px;
    margin-right: 50px;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    float: right;
  }
}
@media screen and (min-width:769px){
  .loginform {
    width: 300px;
    margin-top: -400px;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    float: right;
    margin-right: 200px;
  }

}